<div class="container mt-4">
  <table class="table table-striped">
    <thead>
<h1>Product List</h1>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.status }}</td>
      <td>
        <button class="btn btn-info" (click)="viewDetails(product)">View Details</button>
      </td>
    </tr>
  </tbody>
</table>
<divclass="modal-body">
  @if (selectedProduct) {
    <h3>Product Details</h3>
    <p><strong>ID:</strong> {{ selectedProduct.id }}</p>
    <p><strong>Name:</strong> {{ selectedProduct.name }}</p>
    <p><strong>Category:</strong> {{ selectedProduct.category }}</p>
    <p><strong>Price:</strong> {{ selectedProduct.price }}</p>
    <p><strong>Stock:</strong> {{ selectedProduct.stock }}</p>
    <p><strong>Status:</strong> {{ selectedProduct.status }}</p>
    <hr>
     <p><strong>Description:</strong></p>
     <p>{{ selectedProduct.description }}</p>
  }
</div>
</div>